<p>This Section would only update ones with ID's, but you can also add stuff..</p>
<p>(modify-content-component)</p>
<div>
    ID: <input #id>
</div>
<div>
    Title: <input #title>
</div>
<div>
    Description: <input #description>
</div>
<div>
    Image: <input #imgURL>
</div>
<div>
    Creator: <input #creator>
</div>
<div>
    Tag: <input #tags>
</div>
<div>
    Type: <input #type>
</div>
<div>
    <button (click)="addGame(title.value, description.value, imgURL.value, creator.value, tags.value, type.value)">Add Game Item</button>
    <button (click)="updateGame(id.value, title.value, description.value, imgURL.value, creator.value, tags.value, type.value)">Update Game Item</button>

</div>
<!--  -->