<!-- <input #gameList>

<button (click)="stringFilter(gameList.value)">Submit</button>
<div #gameList class="exist"> {{ gameList ? gameList.value : "" }}
</div> -->

<!-- 
<app-content-card *ngFor="
let item of lotsofgames | gamer; index as i; first as isFirst"
[class.is-first]="isFirst" 
[gameList]="item" 
[class.is-game]="item.type == 'Game'" 
[class.is-pvp]="item.type == 'PVP'">
</app-content-card>

<app-content-card *ngFor="
let item of (lotsofgames | gamer); index as i; first as isFirst"
[class.is-first]="isFirst" 
[gameList]="item" 
[class.is-game]="item.type == 'Game'" 
[class.is-pvp]="item.type == 'PVP'">
</app-content-card>

<app-content-card *ngFor="
let item of (lotsofgames | gamer); index as i; first as isFirst"
[class.is-first]="isFirst" 
[gameList]="item" 
[class.is-game]="item.type == 'Game'" 
[class.is-pvp]="item.type == 'PVP'">
</app-content-card> -->

<app-content-card *ngFor="let item of lotsofgames; index as i; first as isFirst" [gameList]="item" [class.is-first]="isFirst" ></app-content-card>
