
<mat-card>
<header class="header">
    <mat-card-title class="title">Title: {{ gameList ? gameList.title : "" }}</mat-card-title>
    <p><img (click)="onImageClick()" [src]="gameList ? gameList.imgURL : ''"></p>
    <mat-card-content>
        <div class="stuff">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
</mat-card-content>
<a [routerLink]="['/content', gameList?.id ?? 0]" routerLinkActive="active">Content Details</a>

</header>
</mat-card>