
<mat-card>
<header class="header">
    <mat-card-title class="title">Title: {{ gameList ? gameList.title : "" }}</mat-card-title>
    <p><img (click)="onImageClick()" [src]="gameList ? gameList.imgURL : ''"></p>
    <mat-card-content>
        <div class="stuff">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>

            <h3 class="description">Description: {{ gameList ? gameList.description : "" }}</h3>
            <h3 class="type">Type: {{ gameList ? gameList.type : "" }}</h3>
            <h3 class="tags">Tags: {{ gameList ? gameList.tags : "" }}</h3>
            
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>
</mat-card-content>
</header>
</mat-card>