.header {
    border-left: 5px solid blue;
    border-bottom: 5px solid blue;
    }
img {
    height: 75px;
    width:75px;
    float: left;
    padding-right: 50px;
}
.stuff {
    display: inline-block;
}
:host.is-first {
border: 5px solid black;
}
.serviceThing {
    box-shadow: 5px solid green;
}

:host.single-item-on-app-component {
    box-shadow: 5px 10px #88888899;
  }
  .image {
    width: 300px;
  }
  .tag {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ff0000;
    background-color: aqua;
    margin: 8px;
    padding: 8px;
  }

  .header {
    width: 100%;
    color: white;
    padding-left: 50px;
    background-color: #4CAF50;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  mat-card {
    background-color: #4CAF50;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }